node_modules
frontend/node_modules
backend/venv
venv
backend\gym_landing\gym_landing\__pycache__
backend\gym_landing\gym_products\__pycache__

__pycache__/
uploads/
backend/gym_landing/gym_landing/__pycache__/
backend/gym_landing/gym_products/__pycache__/
