#carouselExampleCaptions{
  height: 60px;
}

h1, h3, h4, h5, p, span{
  color: white;
  color: white;
}

.row{
  margin:10px;
}  


.carousel-item img{
  max-height: 100px;
  
}

.click{
  cursor: pointer;
}

.card{
  border-radius: 0px;
  background-color: transparent;
}

.card img{

  max-height: 450px;
}

.accordion, .accordion-button, .accordion-body, .accordion-item, .accordion-header, .collapse{
  background-color: transparent;
  color: white;
}

$accordion-icon-color:   white;

.content-container-center {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
}

.todos{
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .content-container-center {

    justify-content: center;

  }

  .navbar{
    background-color: #2b3035;
  }
  
  .todos{
    justify-content: center;
  }
}


